html, body
{
    font-family: sans-serif;
    background-color: #ECE3E3;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}


.mainTitle h1
{
    font-size: 140px;
    color:#404652;
    text-align: center;
    margin: 0;
}


.credits h6
{
    font-size: 20px;
    color: #404652;
    text-align: center;
    margin: 0;
    padding: 10px 0px 10px 0px;
}


.logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
}


.introduction h4
{
    font-size: 20px;
    color: #404652;
    text-align: center;
    margin: 0;
}


.inputArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.inputBar
{
    background: white;
    border: none;
    border-radius: 15px 15px 15px 15px;
    outline: none;
    padding: 10px 50px 10px 50px;
    font-size: 15px;
}

.simplifyButton, .resetButton
{
    display: inline;
    margin: 0 auto;
    width: 49%;
}

.simplifyButton
{
    background: #E1685D;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 250px 25px 250px 25px;
}

.resetButton
{
    background: #E1685D;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px 250px 25px 250px;
}

.outputArea
{
    font-size: 20px;
    color: #404652;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.customURLInformation
{
    font-size: 20px;
    color: #404652;
    text-align: center;
    margin: 0;
}

.customURLOptionButtonSection
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.customURLOptionButton
{
    padding: 10px 10px 10px 10px;
    background-color: #E1685D;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 250px 250px 250px 250px;
}


.customURLInputArea
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px 0px 0px;
}

.destinationURLInputBar, .customURLInputBar
{
    background: white;
    border: none;
    border-radius: 15px 15px 15px 15px;
    outline: none;
    padding: 10px 50px 10px 50px;
    font-size: 15px;
}

.customSimplifyButton
{
    background: #E1685D;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 250px 250px 250px 250px;
    width: 100%
}

.UnsuccessfulCustomURL
{
    font-size: 20px;
    color: #404652;
    text-align: center;
}

.SuccessfulCustomURL
{
    font-size: 20px;
    color: #404652;
    text-align: center;
}