<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}">
    <script src="{% static 'customURL.js' %}"></script>
    <title>SimplifyURL</title>

</head>


<body>
    <section class="mainTitle">
        <h1>simplifyURL</h1>
    </section>


    <section class="credits" id="forJS">
        <h6>| BL Programming |</h6>
    </section>


    <section class="logo">
        <img src="{% static 'mediumLogo.png' %}">
    </section>


    <section class="introduction" >
        <h4>| Creates a simplified URL that redirects users to the destination of your choice |</h1> <br>
    </section>


    <section class="inputArea">
        <form action="{% url 'myApplication:simplify' %}" method="POST">
            {% csrf_token %}
            <input name="userInput" class="inputBar" type="text" placeholder="Enter your URL here.." required> <br>
            <button type="reset" class="resetButton">reset</button>
            <button type="submit" class="simplifyButton">simplify</button>
        </form>
    </section>


    {% if simplifiedURL %}
    <section class="outputArea">
        <br><br><br>
        <h4>Your Simplified URL: <a href="{{ simplifiedURL }}"> {{ simplifiedURL }}</a></h4>
    </section>
    {% endif %}


    <section class="customURLInformation">
        <h4>| If you'd rather create a custom URL for your destination, click below</a> |</h4>
    </section>


    <section class="customURLOptionButtonSection">
        <button class="customURLOptionButton" onclick="customURLForm()">Custom URL ~ Defined by you</button>
    </section>

    <section class="customURLInputArea">
        <div id="customURLFormContainer" style="display: none;">

            <form action="{% url 'myApplication:custom' %}" method="POST">
                {% csrf_token %}
                <input name="destinationURL" class="destinationURLInputBar" type="text" placeholder="Destination URL:" required> <br>
                <input name="customURL" class="customURLInputBar" type="text" placeholder="Custom String:"> <br>
                <button type="submit" class="customSimplifyButton">simplify</button>
            </form>

        </div>
    </section>

    <section class="UnsuccessfulCustomURL">
        {% if invalidString %}
            <h4>*Your desired path string is invalid; Use an alphanumeric string, underscores (_), and/or hyphens (-)*.
                <br>
                *Note, your string may not be the following: 'admin', 'simplify', 'custom', or 'login'.*
            </h4>
        {% endif %}
    </section>

    <section class="UnsuccessfulCustomURL">
        {% if error %}
            <h4>*Your desired path string is already in use; Try again with a different one.*</h4>
        {% endif %}
    </section>

    <section class="SuccessfulCustomURL">
        {% if customURL %}
            <h4>Your Custom URL: <a href="{{ customURL }}"> {{ customURL }}</a></h4>
        {% endif %}
    </section>
</body>
</html>